---
# Guía Data Wrangling

Esta guía de autoestudio consta de múltiples desafíos para ir mejorando la habilidad de Data Wrangler.

In [1]:
import pandas as pd

---
### Deasfío 1: Red Social 

El siguiente dataset contiene información de usuarios de una red social. Se registra la dirección IP de su última conexión.

In [2]:
df = pd.read_csv('data1.csv')
df.head()

,id,first_name,last_name,email,gender,ip_address
0,1,Donall,Tonnesen,dtonnesen0@nasa.gov,Male,107.245.200.84
1,2,Sharron,Reihm,sreihm1@google.com.hk,Female,106.149.239.211
2,3,Allis,Klampt,aklampt2@kickstarter.com,Bigender,188.3.157.196
3,4,Nicole,Skirvin,nskirvin3@gizmodo.com,Female,104.226.147.158
4,5,Josee,Crouse,jcrouse4@netvibes.com,Female,92.164.9.58

#### 1.  Cree una nueva columna que contenga el primer numeral de la IP y almacénelo en una nueva columna llamada **segment**. 

Ejemplo: si la IP es 107.245.200.84, el primer numeral es 107.

In [ ]:
#### 1.  Cree una nueva columna que contenga el primer numeral de la IP y almacénelo en una nueva columna llamada **segment**. 

# Ejemplo: si la IP es 107.245.200.84, el primer numeral es 107.
df['segment'] = df['ip_address'].str.split('.').str[0]
df.head()

,id,first_name,last_name,email,gender,ip_address,segment
0,1,Donall,Tonnesen,dtonnesen0@nasa.gov,Male,107.245.200.84,107
1,2,Sharron,Reihm,sreihm1@google.com.hk,Female,106.149.239.211,106
2,3,Allis,Klampt,aklampt2@kickstarter.com,Bigender,188.3.157.196,188
3,4,Nicole,Skirvin,nskirvin3@gizmodo.com,Female,104.226.147.158,104
4,5,Josee,Crouse,jcrouse4@netvibes.com,Female,92.164.9.58,92

#### 2. Estructura del dataframe
Verifique que el tipo de datos de la columna **segment** que acaba de crear es entero, caso contrario, haga la conversión de tipo de dato.

In [ ]:
#### 2. Estructura del dataframe
# Verifique que el tipo de datos de la columna **segment** que acaba de crear es entero, caso contrario, haga la conversión de tipo de dato.
if df['segment'].dtype != 'int':
    df['segment'] = df['segment'].astype(int)
df.dtypes

#### 3. Cree una columna nueva que indique la procedencia de la IP

- Si es menor que 100, es de procedencia tipo A
- Si es mayor o igual a 100 y menor de 200 es de tipo B
- Si es mayor o igual a 200 es de tipo C

In [ ]:
#### 3. Cree una columna nueva que indique la procedencia de la IP

# - Si es menor que 100, es de procedencia tipo A
# - Si es mayor o igual a 100 y menor de 200 es de tipo B
# - Si es mayor o igual a 200 es de tipo C
def categorize_ip(segment):
    if segment < 100:
        return 'A'
    elif 100 <= segment < 200:
        return 'B'
    else:
        return 'C'
    
df['ip_type'] = df['segment'].apply(categorize_ip)
df.head()

#### 4. Determine cuál es la procedencia que tiene mayor frecuencia

In [ ]:
#### 4. Determine cuál es la procedencia que tiene mayor frecuencia
df['ip_type'].value_counts()

#### 5. Contabilice la frecuencia de cada tipo de género del listado

In [ ]:
#### 5. Contabilice la frecuencia de cada tipo de género del listado
df['gender'].value_counts()

#### 6. Cree una nueva columna con el dominio del correo electronico de la persona

Por ejemplo:

- aklampt2@kickstarter.com	  --> kickstarter
- sreihm1@google.com.hk  --> google

#### 7. Determine los dominios que tienen más frecuencias

---
### Desafío 2 : Tarjetas Banco Digitail de Chile

El siguiente set de datos contiene información de tarjetahabientes del Banco Digital de Chile (BDC), su banca amiga.

- PAN: Primary Account Number
- PIN: Personal Identification Number
- CVV: Card Verification Value


Más info en https://blog.selfbank.es/pin-pan-bin-ccv-de-donde-proviene-cada-dato-que-aparece-en-tu-tarjeta-bancaria/

In [50]:
df = pd.read_csv('data2.csv')
df.head()

,rut,nombre,estado civil,ciudad,fono,pan,cvv,pin
0,49632160-k,Stone Sofia,Divorced,Vicuña,1-473-633-5223,644282 833787 1575,687,2635
1,34917423-5,Tyler Emilia,Common-Law,O'Higgins,775-3826,4532 137 32 2150,889,9546
2,23258461-0,Honorato Renato,Common-Law,Los Vilos,1-209-458-8165,448 55627 32472 878,332,4650
3,14549861-9,Henry Paz,Single,General Lagos,1-600-505-7662,557272 325521 3872,367,5355
4,48938332-2,Mercedes Sepulveda,Divorced,Primavera,1-480-922-4415,3615 454541 71296,701,1157

#### 1. Estandarización PAN

Primero que nada, vamos a estandarizar el PAN, se necesita lo siguiente:
- no debe tener espacios ni ningun otro separador
- no debe tener caracteres distintos a numeros

,rut,nombre,estado civil,ciudad,fono,pan,cvv,pin
269,21396955-2,Sean Augustin,Single,Castro,1-330-773-4668,524372-549568-4852,594,3644
330,5118352-5,Flavia Jose,Common-Law,Taltal,1-774-544-1369,633339/445224/2474,281,3904
397,17491135-5,Kalia Espinoza,Common-Law,Colchane,313-9663,2014.733445.65318,595,4519

#### 2. Largo del PAN

El PAN está compuesto por entre 12 y 19 dígitos. Esta longitud depende del tipo de tarjeta utilizada. Las más conocidas son VISA y Mastercard, cuyas tarjetas están compuestas por 16 dígitos, mientras que las Diners, las primeras tarjetas de la historia, tienen 14 dígitos de longitud.

Cree una nueva columna (pan length) que contenga la cantidad de dígitos del PAN. ¿Cuántos largos distintos de PAN se encuentran?

#### 3. Número de Identificación Bancaria

El BIN Compuesto por los 6 primeros números, los cuales identifican al banco que ha emitido la tarjeta. Incorpore una nueva columna con el BIN de la tarjeta.

,rut,nombre,estado civil,ciudad,fono,pan,cvv,pin,pan length,bin
0,49632160-k,Stone Sofia,Divorced,Vicuña,1-473-633-5223,6442828337871575,687,2635,16,644282
1,34917423-5,Tyler Emilia,Common-Law,O'Higgins,775-3826,4532137322150,889,9546,13,453213
2,23258461-0,Honorato Renato,Common-Law,Los Vilos,1-209-458-8165,4485562732472878,332,4650,16,448556
3,14549861-9,Henry Paz,Single,General Lagos,1-600-505-7662,5572723255213872,367,5355,16,557272
4,48938332-2,Mercedes Sepulveda,Divorced,Primavera,1-480-922-4415,361545454171296,701,1157,15,361545
...,...,...,...,...,...,...,...,...,...,...
495,50646233-9,Hashim Emilia,Single,Puerto Montt,200-5485,589835773674,339,4980,12,589835
496,3945139-5,Stacey Rivera,Married,Paillaco,1-603-898-6256,578226662562,713,5468,12,578226
497,12236971-4,Emmanuel Maximo,Single,Timaukel,535-5767,214948248572424,406,6002,15,214948
498,24931711-k,Keegan Mateo,Married,Antuco,1-566-320-6754,376449527338854,965,2373,15,376449
499,374158-3,Beverly Emilia,Divorced,Curicó,735-2471,4929349422281460,997,8036,16,492934

#### 4. Industria de Identificador Mayor (MMI)

Se trata del primer número que aparece en tu tarjeta y representa al sector que emitió la tarjeta. Por ejemplo, la gran mayoría comienzan por los dígitos 4 y 5 debido a que la han emitido bancos, pero si fuera emitida por una aerolínea comenzaría por el 1 o el 2.

Cree una nueva columna con el MMI de la tarjeta.

,rut,nombre,estado civil,ciudad,fono,pan,cvv,pin,pan length,bin,mmi
0,49632160-k,Stone Sofia,Divorced,Vicuña,1-473-633-5223,6442828337871575,687,2635,16,644282,6
1,34917423-5,Tyler Emilia,Common-Law,O'Higgins,775-3826,4532137322150,889,9546,13,453213,4
2,23258461-0,Honorato Renato,Common-Law,Los Vilos,1-209-458-8165,4485562732472878,332,4650,16,448556,4
3,14549861-9,Henry Paz,Single,General Lagos,1-600-505-7662,5572723255213872,367,5355,16,557272,5
4,48938332-2,Mercedes Sepulveda,Divorced,Primavera,1-480-922-4415,361545454171296,701,1157,15,361545,3
...,...,...,...,...,...,...,...,...,...,...,...
495,50646233-9,Hashim Emilia,Single,Puerto Montt,200-5485,589835773674,339,4980,12,589835,5
496,3945139-5,Stacey Rivera,Married,Paillaco,1-603-898-6256,578226662562,713,5468,12,578226,5
497,12236971-4,Emmanuel Maximo,Single,Timaukel,535-5767,214948248572424,406,6002,15,214948,2
498,24931711-k,Keegan Mateo,Married,Antuco,1-566-320-6754,376449527338854,965,2373,15,376449,3
499,374158-3,Beverly Emilia,Divorced,Curicó,735-2471,4929349422281460,997,8036,16,492934,4

#### 5. Asociación a la red de pagos

Aquí hay algunas asociaciones comunes entre el primer dígito y las redes de pagos:

- Visa: Los números que comienzan con "4" pertenecen a tarjetas Visa.
- Mastercard: Los números que comienzan con "5" pertenecen a tarjetas Mastercard.
- American Express: Los números que comienzan con "3" generalmente pertenecen a tarjetas American Express, aunque pueden existir algunas excepciones.
- Discover: Los números que comienzan con "6" pertenecen a tarjetas Discover.

Las tarjetas que comienzan con el número "2" son menos comunes y generalmente están reservadas para sistemas de tarjetas bancarias internas o para usos especiales.

Agregue una nueva columna (red) y asigne los valores que correspondan de acuerdo a lo especificado. En el caso del valor 2, utilizar "Especial"

,rut,nombre,estado civil,ciudad,fono,pan,cvv,pin,pan length,bin,mmi,red
0,49632160-k,Stone Sofia,Divorced,Vicuña,1-473-633-5223,6442828337871575,687,2635,16,644282,6,DISCOVERY
1,34917423-5,Tyler Emilia,Common-Law,O'Higgins,775-3826,4532137322150,889,9546,13,453213,4,VISA
2,23258461-0,Honorato Renato,Common-Law,Los Vilos,1-209-458-8165,4485562732472878,332,4650,16,448556,4,VISA
3,14549861-9,Henry Paz,Single,General Lagos,1-600-505-7662,5572723255213872,367,5355,16,557272,5,MASTER
4,48938332-2,Mercedes Sepulveda,Divorced,Primavera,1-480-922-4415,361545454171296,701,1157,15,361545,3,AMEX
...,...,...,...,...,...,...,...,...,...,...,...,...
495,50646233-9,Hashim Emilia,Single,Puerto Montt,200-5485,589835773674,339,4980,12,589835,5,MASTER
496,3945139-5,Stacey Rivera,Married,Paillaco,1-603-898-6256,578226662562,713,5468,12,578226,5,MASTER
497,12236971-4,Emmanuel Maximo,Single,Timaukel,535-5767,214948248572424,406,6002,15,214948,2,Especial
498,24931711-k,Keegan Mateo,Married,Antuco,1-566-320-6754,376449527338854,965,2373,15,376449,3,AMEX
499,374158-3,Beverly Emilia,Divorced,Curicó,735-2471,4929349422281460,997,8036,16,492934,4,VISA

#### 6. ¿Cuál es la red de pagos que más se repite?

Contabilice cuántas tarjetas hay de cada red

#### 7. Dígito Verificador
El último número de la tarjeta es un dígito verificador y se calcula utilizando el algoritmo de Luhn. Se utiliza como medida de seguridad. La siguiente función permite verificar si un número de tarjeta es válido. 

Acá puedes obtener más información de cómo funciona el algoritmo de Luhn.

https://www.quobit.mx/asi-funciona-el-algoritmo-de-luhn-para-generar-numeros-de-tarjetas-de-credito.html

Cree una columna "valid" con valores True o False, en donde se determine si la tarjeta es válida o inválida

In [74]:
def luhn_check(card_number):
    digits = [int(d) for d in str(card_number)]
    return sum(digits[::-2] + [sum(divmod(d * 2, 10)) for d in digits[-2::-2]]) % 10 == 0

#### 8. Contabilice la validez de las tarjetas

¿Cuántas tarjetas válidas e inválidas se encuentran en el set de datos?

¿Cuáles son los números de tarjeta inválidos?

,rut,nombre,estado civil,ciudad,fono,pan,cvv,pin,pan length,bin,mmi,red,valid
299,45298274-9,Hillary Gabriela,Divorced,Hualqui,543-1923,670983921881446289,984,5439,18,670983,6,DISCOVERY,False
447,26840742-1,Madison Fernandez,Married,Paredones,1-428-247-6001,6458399284155164,319,3727,16,645839,6,DISCOVERY,False
476,34551183-0,Adrian Alexandra,Common-Law,Putre,816-6330,6486837495394492,254,7144,16,648683,6,DISCOVERY,False

---
### Desafío 3 - Analisis de Regiones

En este desafío vamos a cruzar las ciudades de los tarjetahabientes del desafío anterior y lo vamos a complementar con la comuna y región al cual pertenece la ciudad. Para este propósito, tome la tabla de ciudades que aparece en esta web de Wikipedia y que contiene un listado de 261 ciudades de Chile

https://es.wikipedia.org/wiki/Anexo:Ciudades_de_Chile

#### 1. Lea la tabla de ciudades
Lea directamente la tabla de ciudades utilizando la función read_html()

### 2. Limpieza tabla de ciudades
Como habrá podido notar, los nombres de las ciudades vienen acompañados por comentarios tales como [GS 1], (Gran La Serena), etc. Realice una limpieza del campo ciudad.

#### 3. Enriquezca el dataframe de tarjetahabientes con región y comuna

#### 4. ¿Qué ciudades no fueron encontradas?
Determine las ciudades que no pudieron ser relacionadas y proponga acciones para remediar esto.

---